.btn {
    margin-top: 56px;
    padding: 15px 31px 16px 31px;
    border-radius: 6px;
    border: 1px solid #0e8784;
    background-color: #0e8784;
    color: #ffffff;
    font-family: "Fraunces";
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
}

.btn:hover {
    background-color: #66d2cf;
    color: #ffffff;
    border: 1px solid #66d2cf;
}